.body{
    margin-left: 200px;
    margin-right:200px;
    
}
.btn{
    color: black;
}
.by1{
    font-style: italic;
}
.quotes10{
    font-family: 'Kalam', cursive;
}
.quote11{
    font-family: 'Playfair Display SC', serif;
}